flask
flask-cors
python-dotenv

llama-index==0.12.48
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-groq
chromadb
sentence-transformers
transformers
torch
accelerate
groq
